name: capa-karpenter-taint-remover
namespace: kube-system
serviceType: managed

image:
  name: "giantswarm/capa-karpenter-taint-remover"
  tag: ""
  registry: "gsoci.azurecr.io"

# This is the list of taints to be removed from the nodes.
unwantedTaints:
- karpenter.sh/unregistered

pod:
  user:
    id: 1000
  group:
    id: 1000
